a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

html, body {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	overflow: hidden;
	background: white;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.wrapper {
	width: 88%;
	margin: 0 auto;
}

#toggle-btn,
#toggle-btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	bottom: 50px;
	left: 50%;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	width: 60px;
	height: 60px;
	transform: translate3d(-50%, 0px, 0px);
	z-index: 9999;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

#toggle-btn .hamburger-inner,
#toggle-btn span:before,
#toggle-btn span:after {
	width: 30px;
	border-width: 2px;
	height: 3px;
}

#toggle-btn .hamburger-inner {
	margin-top: 0px;
}

#toggle-btn .hamburger-box {
	transform: scale3d(0.8, 0.8, 1.0);
	width: 32px;
}

#card {
	display: flex;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	border-radius: 40px;
	overflow: hidden;
	position: relative;
}

section {
	position: relative;
	width: 100vw;
	height: 100vh;
}

section.total {
	text-align: center;
	position: relative;
	padding: 10px 20px 10px 10px;
	box-sizing: border-box;
}

li {
	padding: 2em 0 2em 40px;
	border-bottom: 1px solid #eaeaea;
	background: transparent url(images/done.svg) left center no-repeat;
}

li.upcoming {
	background-image: url(images/pending.svg);
}

.floating-content {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9998;
	transform: translate3d(-50%, -70%, 0px);
}

.floating-content p {
	margin-top: 1em;
	line-height: 1;
	color: #999;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
	font-size: 100px;
	display: block;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h2 {
	font-size: 38px;
	padding: 1em 0;
	font-weight: 500;
}

#progress {
	background: #FDCA48;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

#history {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9998;
	overflow-x: hidden;
	overflow-y: scroll;
	transform: translate3d(0px, 100%, 0px);
	transition: transform 400ms cubic-bezier(1, 0, 0, 1);
	box-sizing: border-box;
	padding-bottom: 120px;
}

#history.active {
	transform: translate3d(0px, 0px, 0px);
}
